@model IEnumerable<ProductManagement.Models.Product>

@{
    ViewBag.Title = "Home";
}

<h1>CRUD Operations</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProductItemCode}) |
                @Html.ActionLink("Details", "Details", new { id=item.ProductItemCode}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductItemCode})
            </td>
        </tr>
    }
</table>